body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_BulletedList1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList1 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: top;
   width: 49px;
}
#wb_BulletedList1 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 250px;
}
#wb_BulletedList1 .item0
{
   height: 26px;
   text-align: left;
}
#wb_BulletedList1 .item1
{
   height: 26px;
   text-align: left;
}
#wb_BulletedList1 .item2
{
   height: 26px;
   text-align: left;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#Banner1
{
   background-color: #265A88;
   background: -moz-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -webkit-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -o-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -ms-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   border: 1px #245580 solid;
   color: #FFFFFF;
   font-family: "Microsoft Himalaya";
   font-weight: bold;
   font-size: 32px;
   text-align: center;
}
#Banner1 span
{
   display: block;
   height: 32px;
   margin: 28px 0px 28px 0px;
}
#Banner1 .single-char
{
   float: left;
}
#Banner1 div
{
   display: inline-block;
   text-align: center;
}
.Banner1_ShowAnimation
{
   -webkit-animation: puff-in 1000ms linear 0s 1 normal both;
   -moz-animation: puff-in 1000ms linear 0s 1 normal both;
   animation: puff-in 1000ms linear 0s 1 normal both;
}
.Banner1_HideAnimation
{
   -webkit-animation: animate-fade-out 1000ms linear 0s 1 normal both;
   -moz-animation: animate-fade-out 1000ms linear 0s 1 normal both;
   animation: animate-fade-out 1000ms linear 0s 1 normal both;
}
#TextArt1
{
   border-width: 0;
}
#wb_Form1
{
   background-color: transparent;
   background-image: url(images/index_Form1_bkgrnd.png);
   background-repeat: repeat-x;
   background-position: left top;
   border: 0px #CCCCCC solid;
}
#wb_Form2
{
   background-color: #00BFFF;
   background-image: none;
   border: 0px #CCCCCC solid;
}
#Button1
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #00BFFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button2
{
   border: 1px #FFFFE0 solid;
   border-radius: 4px;
   background-color: #FF0000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
